html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  max-width: 70%;
  margin: 5px auto;
  background-color: bisque;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.whole-body {
  border: 5px solid crimson;
  padding: 2em;
}
p {
  font-weight: 700;
  color: blueviolet;
}
img {
  height: 300px;
  width: auto;
}
.odin-title {
  width: 300px;
  margin: 40px auto;

  font-size: 3em;
}
nav {
  width: 600px;
  margin: 0 auto;
}

.link-list a {
  text-decoration: none;
  background-color: rgb(179, 57, 81);
  color: #fff;
  padding: 1em 2em;
  display: block;
  margin: 1em;
}

.link-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.link-list a:hover {
  background-color: rgb(66, 28, 40);
  color: #fff;
}
img {
  max-width: 100%;
}
